* {
  font-family: "Roboto", sans-serif; }

.section-title, .resource-section .section-header .resources-section-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-size: 20px;
  font-weight: 500; }

.logo {
  padding-top: 17px; }
  .logo img {
    height: 16px; }

.sm-buttons, .resource-more-btn,
.resource-less-btn, .view-all-btn {
  padding: 5px 10px;
  text-align: center;
  width: 100px; }
  .sm-buttons:hover, .resource-more-btn:hover,
  .resource-less-btn:hover, .view-all-btn:hover {
    cursor: pointer; }

.item-label, .item-doc, .item-xls, .item-pdf, .item-link {
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: white;
  background-color: #eee;
  padding: 2px 5px;
  width: 38px;
  text-align: center; }

.item-doc {
  background-color: #0064b1; }

.item-xls {
  background-color: #18a344; }

.item-pdf {
  background-color: #df3d3d; }

.item-link {
  background-color: #ad4cff;
  display: none; }

.item-name {
  color: #0064b1;
  text-transform: capitalize;
  text-decoration: none; }
  .item-name:hover {
    text-decoration: none; }

@media only screen and (min-width: 992px) {
  .title-left .section-header-wrapper {
    padding-left: 0px; }
  .title-left .section-content-wrapper {
    padding-right: 60px !important; } }

@media only screen and (min-width: 992px) {
  .title-right .section-header-wrapper {
    float: right;
    padding-right: 0px; }
    .title-right .section-header-wrapper .section-header {
      text-align: right; }
  .title-right .section-content-wrapper {
    padding-left: 60px !important; } }

.ecorcoran-navbar .navbar-toggle {
  color: white;
  float: left;
  z-index: 200;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 15px 18px;
  margin: 0px;
  border-radius: 0px; }
  @media only screen and (max-width: 768px) {
    .ecorcoran-navbar .navbar-toggle {
      z-index: 600; } }
  .ecorcoran-navbar .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  .ecorcoran-navbar .navbar-toggle span {
    text-transform: uppercase;
    font-size: 13px; }
.ecorcoran-navbar .ecorcoran-nav-list {
  padding: 0px;
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 160; }
  @media only screen and (max-width: 768px) {
    .ecorcoran-navbar .ecorcoran-nav-list {
      top: 49px; } }
  .ecorcoran-navbar .ecorcoran-nav-list .close-nav {
    display: none; }
    @media only screen and (max-width: 768px) {
      .ecorcoran-navbar .ecorcoran-nav-list .close-nav {
        display: block;
        color: white;
        font-size: 16px;
        position: absolute;
        top: 26px;
        right: 20px;
        z-index: 700;
        color: rgba(255, 255, 255, 0.5); }
        .ecorcoran-navbar .ecorcoran-nav-list .close-nav:hover {
          color: white;
          cursor: pointer; } }
  .ecorcoran-navbar .ecorcoran-nav-list ul {
    background-color: rgba(0, 0, 0, 0.9);
    list-style-type: none;
    padding: 16px 0px 16px 0px;
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -ms-backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -o-backdrop-filter: blur(8px); }
    @media only screen and (max-width: 768px) {
      .ecorcoran-navbar .ecorcoran-nav-list ul {
        padding-right: 0px; } }
    .ecorcoran-navbar .ecorcoran-nav-list ul:hover .menu-item-wrapper {
      display: inline-block;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
    @media only screen and (min-width: 768px) {
      .ecorcoran-navbar .ecorcoran-nav-list ul:hover .menu-item-wrapper {
        border-left: 1px solid rgba(255, 255, 255, 0.5); } }
    .ecorcoran-navbar .ecorcoran-nav-list ul li {
      padding: 0px 25px;
      height: 38px; }
      .ecorcoran-navbar .ecorcoran-nav-list ul li.active .indicator {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        background-color: rgba(255, 255, 255, 0) !important;
        border: 2px solid white;
        -webkit-transform: scale(1.45);
        -moz-transform: scale(1.45);
        -o-transform: scale(1.45);
        transform: scale(1.45); }
      .ecorcoran-navbar .ecorcoran-nav-list ul li.active .menu-item {
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        color: white !important; }
      .ecorcoran-navbar .ecorcoran-nav-list ul li:hover {
        cursor: pointer; }
        .ecorcoran-navbar .ecorcoran-nav-list ul li:hover .indicator {
          transition: background-color 0.3s ease;
          -webkit-transition: background-color 0.3s ease;
          -moz-transition: background-color 0.3s ease;
          -o-transition: background-color 0.3s ease;
          background-color: rgba(255, 255, 255, 0.8); }
        .ecorcoran-navbar .ecorcoran-nav-list ul li:hover .menu-item {
          transition: color 0.3s ease;
          -webkit-transition: color 0.3s ease;
          -moz-transition: color 0.3s ease;
          -o-transition: color 0.3s ease;
          color: rgba(255, 255, 255, 0.8); }
      .ecorcoran-navbar .ecorcoran-nav-list ul li .indicator-wrapper {
        display: inline-block;
        height: 38px;
        padding-top: 8px;
        padding-bottom: 8px;
        vertical-align: middle; }
        @media only screen and (max-width: 768px) {
          .ecorcoran-navbar .ecorcoran-nav-list ul li .indicator-wrapper {
            display: none; } }
      .ecorcoran-navbar .ecorcoran-nav-list ul li .menu-item-wrapper {
        display: none;
        height: 38px;
        margin-left: 20px;
        border-left: 1px solid transparent;
        vertical-align: middle; }
        @media only screen and (max-width: 768px) {
          .ecorcoran-navbar .ecorcoran-nav-list ul li .menu-item-wrapper {
            display: inline-block;
            margin-left: 0px; } }
      .ecorcoran-navbar .ecorcoran-nav-list ul li .indicator {
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        display: inline-block;
        border-radius: 100%;
        vertical-align: middle;
        margin-top: 8px; }
      .ecorcoran-navbar .ecorcoran-nav-list ul li .add-line {
        display: inline-block;
        margin-left: 20px; }
      .ecorcoran-navbar .ecorcoran-nav-list ul li .menu-item {
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        vertical-align: middle;
        padding-left: 20px;
        margin-top: 8px; }
        @media only screen and (max-width: 768px) {
          .ecorcoran-navbar .ecorcoran-nav-list ul li .menu-item {
            padding-left: 0px; } }

.top-header {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100; }
  @media only screen and (max-width: 768px) {
    .top-header {
      z-index: 500;
      text-align: center; } }
  .top-header .logo {
    display: inline-block;
    padding-left: 75px; }
    @media only screen and (max-width: 768px) {
      .top-header .logo {
        padding-left: 0px; } }

.search-toggle {
  position: fixed;
  right: 0px;
  top: 0px;
  color: white;
  padding: 16px 20px;
  visibility: hidden;
  z-index: 200; }
  @media only screen and (max-width: 768px) {
    .search-toggle {
      visibility: visible;
      z-index: 500; } }
  .search-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer; }
  .search-toggle i {
    font-size: 18px; }

.corcoran-bar {
  margin-top: 50px;
  width: 100%;
  height: 5px;
  position: relative;
  display: block; }
  .corcoran-bar .bar-segment {
    position: relative;
    vertical-align: top;
    width: 20%;
    height: 100%;
    display: inline-block; }
  .corcoran-bar #bar-light-blue {
    background-color: #acc3de; }
  .corcoran-bar #bar-dark-blue {
    background-color: #0060b5; }
  .corcoran-bar #bar-orange {
    background-color: #f76600; }
  .corcoran-bar #bar-green {
    background-color: #00a53c; }
  .corcoran-bar #bar-yellow {
    background-color: #ffe975; }

.main-search {
  background-color: #000;
  position: relative;
  width: 100%;
  height: 380px; }
  @media only screen and (max-width: 768px) {
    .main-search {
      height: 400px; } }
  .main-search .content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 120px 90px; }
    @media only screen and (max-width: 1024px) {
      .main-search .content-wrapper {
        padding: 120px 50px; } }
    @media only screen and (max-width: 768px) {
      .main-search .content-wrapper {
        padding: 120px 0px; } }
    .main-search .content-wrapper .make-it-center {
      margin: auto; }
      .main-search .content-wrapper .make-it-center .page-title {
        font-weight: 300;
        font-size: 35px;
        color: white;
        z-index: 1;
        margin: auto;
        margin-bottom: 30px; }
        @media only screen and (max-width: 768px) {
          .main-search .content-wrapper .make-it-center .page-title {
            font-size: 35px;
            margin-top: 0px;
            margin-left: -15px;
            margin-right: -15px;
            padding: 40px 14%;
            background-color: rgba(0, 0, 0, 0.6); } }
      .main-search .content-wrapper .make-it-center .search-bar {
        height: 50px;
        position: relative;
        margin: auto;
        width: 75%; }
        @media only screen and (max-width: 1024px) {
          .main-search .content-wrapper .make-it-center .search-bar {
            width: 73%; } }
        @media only screen and (max-width: 768px) {
          .main-search .content-wrapper .make-it-center .search-bar {
            display: none; } }
        .main-search .content-wrapper .make-it-center .search-bar.stick {
          margin-top: 0px;
          position: fixed;
          top: 0px;
          right: 0px; }
          .main-search .content-wrapper .make-it-center .search-bar.stick .search-input {
            border-radius: 0px !important;
            background-color: black;
            border-top: none !important;
            border-bottom: none !important;
            border-left: 1px solid white !important;
            color: white; }
          .main-search .content-wrapper .make-it-center .search-bar.stick .dropdown-toggle {
            border-radius: 0px !important;
            background-color: black !important;
            border: 1px solid transparent !important;
            border-right: 1px solid white !important;
            border-left: 1px solid white !important;
            color: white !important; }
            .main-search .content-wrapper .make-it-center .search-bar.stick .dropdown-toggle:hover {
              background-color: rgba(0, 0, 0, 0.8) !important; }
          .main-search .content-wrapper .make-it-center .search-bar.stick .search-btn {
            background-color: white;
            color: #000;
            height: 36px; }
            .main-search .content-wrapper .make-it-center .search-bar.stick .search-btn:hover {
              background-color: rgba(255, 255, 255, 0.9); }
        .main-search .content-wrapper .make-it-center .search-bar .search-wrapper {
          height: 100%;
          width: 40%;
          display: inline-block;
          position: relative; }
          .main-search .content-wrapper .make-it-center .search-bar .search-wrapper label {
            position: absolute;
            top: 15px;
            left: 12px; }
            .main-search .content-wrapper .make-it-center .search-bar .search-wrapper label i {
              color: #d4d4d4;
              font-size: 20px; }
          .main-search .content-wrapper .make-it-center .search-bar .search-wrapper .search-input {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            border-radius: 3px 0px 0px 3px;
            border: 1px solid #d4d4d4;
            min-width: 250px;
            outline: none;
            padding-left: 37px; }
        .main-search .content-wrapper .make-it-center .search-bar .category-btn {
          width: 13%;
          height: 100%;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          min-width: 160px;
          margin-left: -4px; }
          .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-toggle {
            color: #000;
            background-color: white;
            height: 100%;
            width: 100%;
            border: 1px solid #d4d4d4;
            border-radius: 0px 3px 3px 0px;
            text-align: left;
            padding-left: 15px;
            padding-right: 15px; }
            .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-toggle i {
              position: absolute;
              right: 15px;
              top: 18px; }
          .main-search .content-wrapper .make-it-center .search-bar .category-btn .category-list {
            margin: -1px 0px 0px 0px;
            border-radius: 0px 0px 3px 3px;
            padding: 10px 15px;
            border: 1px solid #d4d4d4;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none; }
            .main-search .content-wrapper .make-it-center .search-bar .category-btn .category-list li {
              margin: 5px auto; }
        .main-search .content-wrapper .make-it-center .search-bar .search-btn {
          width: 18%;
          min-width: 100px;
          height: 100%;
          border: none;
          background-color: #000;
          color: white;
          border-radius: 3px;
          text-align: center;
          outline: none;
          text-transform: uppercase;
          margin-left: 15px;
          vertical-align: middle; }
          .main-search .content-wrapper .make-it-center .search-bar .search-btn:hover {
            background-color: black; }
  .main-search .img-fill {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
    z-index: 0; }
    .main-search .img-fill img {
      width: 100%; }
      @media only screen and (max-width: 1024px) {
        .main-search .img-fill img {
          height: 100%;
          width: auto; } }

.resource-section {
  margin-bottom: 40px; }
  .resource-section.mobile {
    display: none; }
    @media only screen and (max-width: 768px) {
      .resource-section.mobile {
        display: block; } }
  @media only screen and (max-width: 768px) {
    .resource-section.desktop {
      display: none; } }
  .resource-section .resource-container {
    margin: auto; }
  .resource-section .section-header {
    width: 100%;
    margin-top: 6px; }
    .resource-section .section-header .resources-section-title {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 20px; }
  .resource-section .resource-list {
    width: 80%;
    text-align: center;
    margin: auto; }
    @media only screen and (max-width: 768px) {
      .resource-section .resource-list {
        width: 100%; } }
    .resource-section .resource-list.notVisible {
      display: none; }
    .resource-section .resource-list .resource-item-wrapper {
      display: inline-block;
      width: 16%;
      vertical-align: top; }
      @media only screen and (max-width: 768px) {
        .resource-section .resource-list .resource-item-wrapper {
          width: 45%;
          margin: auto; } }
      @media only screen and (max-width: 560px) {
        .resource-section .resource-list .resource-item-wrapper {
          width: 100%;
          margin: auto; } }
    .resource-section .resource-list .make-it-center {
      margin: auto; }
    .resource-section .resource-list .resource-item {
      display: block;
      text-align: center;
      width: 100%;
      padding: 0px 0px 30px 0px;
      text-decoration: none; }
      @media only screen and (max-width: 768px) {
        .resource-section .resource-list .resource-item {
          width: 200px;
          text-align: left;
          margin: auto; } }
      .resource-section .resource-list .resource-item .sprite-wrapper {
        height: 70px;
        width: 70px;
        overflow: hidden;
        position: relative;
        margin: auto;
        border-radius: 100%; }
        @media only screen and (max-width: 768px) {
          .resource-section .resource-list .resource-item .sprite-wrapper {
            display: inline-block;
            vertical-align: middle; } }
        .resource-section .resource-list .resource-item .sprite-wrapper img {
          position: absolute;
          width: 68px !important;
          height: 136px !important;
          left: 0px;
          top: -68px; }
      .resource-section .resource-list .resource-item:hover {
        cursor: pointer; }
        .resource-section .resource-list .resource-item:hover .resource-name {
          color: #000; }
        .resource-section .resource-list .resource-item:hover .sprite-wrapper img {
          top: 0px; }
      .resource-section .resource-list .resource-item .resource-name {
        margin-top: 10px;
        text-transform: capitalize;
        color: #0064b1;
        font-size: 18px;
        font-weight: 500; }
        @media only screen and (max-width: 768px) {
          .resource-section .resource-list .resource-item .resource-name {
            display: inline-block;
            margin-left: 10px;
            font-size: 16px; } }
  .resource-section .carousel-control {
    position: absolute;
    top: 33%;
    background-image: none;
    text-shadow: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    opacity: 1; }
    @media only screen and (min-width: 550px) {
      .resource-section .carousel-control {
        top: 20%; } }
    .resource-section .carousel-control.right {
      right: -50px; }
      .resource-section .carousel-control.right .control-arrow {
        margin-right: 20px; }
    .resource-section .carousel-control.left {
      left: -50px; }
      .resource-section .carousel-control.left .control-arrow {
        margin-left: 20px; }
    .resource-section .carousel-control .control-arrow {
      position: relative;
      top: 40%;
      z-index: 5;
      display: inline-block; }

.default-section, .title-left, .title-right {
  background-color: black;
  position: relative;
  height: 600px;
  border-bottom: 5px solid #000; }
  @media only screen and (max-width: 992px) {
    .default-section, .title-left, .title-right {
      height: auto;
      background-color: transparent;
      border: none; } }
  .default-section .section-bkg, .title-left .section-bkg, .title-right .section-bkg {
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.8; }
    @media only screen and (max-width: 992px) {
      .default-section .section-bkg, .title-left .section-bkg, .title-right .section-bkg {
        height: auto;
        height: 150px;
        opacity: 1; } }
    .default-section .section-bkg img, .title-left .section-bkg img, .title-right .section-bkg img {
      width: 100%; }
  .default-section .section-body, .title-left .section-body, .title-right .section-body {
    position: absolute;
    padding-top: 80px;
    padding-bottom: 80px;
    top: 0px;
    left: 0px;
    width: 100%; }
    @media only screen and (max-width: 992px) {
      .default-section .section-body, .title-left .section-body, .title-right .section-body {
        position: relative;
        padding-top: 0px;
        padding-bottom: 40px; } }
    @media only screen and (max-width: 992px) {
      .default-section .section-body .section-header-wrapper, .title-left .section-body .section-header-wrapper, .title-right .section-body .section-header-wrapper {
        padding: 0px; } }
    .default-section .section-body .section-header-wrapper .section-header, .title-left .section-body .section-header-wrapper .section-header, .title-right .section-body .section-header-wrapper .section-header {
      position: relative;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 40px 60px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 380px;
      border-top: 5px solid #000; }
      @media only screen and (max-width: 992px) {
        .default-section .section-body .section-header-wrapper .section-header, .title-left .section-body .section-header-wrapper .section-header, .title-right .section-body .section-header-wrapper .section-header {
          height: auto;
          text-align: left !important;
          padding: 20px 35px 0px 35px;
          background-color: transparent;
          margin: 0px; } }
      .default-section .section-body .section-header-wrapper .section-header .section-title, .title-left .section-body .section-header-wrapper .section-header .section-title, .title-right .section-body .section-header-wrapper .section-header .section-title, .default-section .section-body .section-header-wrapper .resource-section .section-header .resources-section-title, .resource-section .default-section .section-body .section-header-wrapper .section-header .resources-section-title, .title-left .section-body .section-header-wrapper .resource-section .section-header .resources-section-title, .resource-section .title-left .section-body .section-header-wrapper .section-header .resources-section-title, .title-right .section-body .section-header-wrapper .resource-section .section-header .resources-section-title, .resource-section .title-right .section-body .section-header-wrapper .section-header .resources-section-title {
        color: white;
        margin-bottom: 14px; }
        @media only screen and (max-width: 992px) {
          .default-section .section-body .section-header-wrapper .section-header .section-title, .title-left .section-body .section-header-wrapper .section-header .section-title, .title-right .section-body .section-header-wrapper .section-header .section-title, .default-section .section-body .section-header-wrapper .resource-section .section-header .resources-section-title, .resource-section .default-section .section-body .section-header-wrapper .section-header .resources-section-title, .title-left .section-body .section-header-wrapper .resource-section .section-header .resources-section-title, .resource-section .title-left .section-body .section-header-wrapper .section-header .resources-section-title, .title-right .section-body .section-header-wrapper .resource-section .section-header .resources-section-title, .resource-section .title-right .section-body .section-header-wrapper .section-header .resources-section-title {
            margin-bottom: 10px;
            color: #000; } }
        @media only screen and (max-width: 750px) {
          .default-section .section-body .section-header-wrapper .section-header .section-title, .title-left .section-body .section-header-wrapper .section-header .section-title, .title-right .section-body .section-header-wrapper .section-header .section-title, .default-section .section-body .section-header-wrapper .resource-section .section-header .resources-section-title, .resource-section .default-section .section-body .section-header-wrapper .section-header .resources-section-title, .title-left .section-body .section-header-wrapper .resource-section .section-header .resources-section-title, .resource-section .title-left .section-body .section-header-wrapper .section-header .resources-section-title, .title-right .section-body .section-header-wrapper .resource-section .section-header .resources-section-title, .resource-section .title-right .section-body .section-header-wrapper .section-header .resources-section-title {
            margin-top: 18px; } }
      .default-section .section-body .section-header-wrapper .section-header .section-description, .title-left .section-body .section-header-wrapper .section-header .section-description, .title-right .section-body .section-header-wrapper .section-header .section-description {
        color: white;
        font-weight: 400;
        margin-bottom: 23px;
        line-height: 1.6; }
        @media only screen and (max-width: 992px) {
          .default-section .section-body .section-header-wrapper .section-header .section-description, .title-left .section-body .section-header-wrapper .section-header .section-description, .title-right .section-body .section-header-wrapper .section-header .section-description {
            margin-bottom: 15px;
            color: #6b6b6b; } }
        @media only screen and (max-width: 750px) {
          .default-section .section-body .section-header-wrapper .section-header .section-description, .title-left .section-body .section-header-wrapper .section-header .section-description, .title-right .section-body .section-header-wrapper .section-header .section-description {
            margin-bottom: 20px; } }
      @media only screen and (max-width: 992px) {
        .default-section .section-body .section-header-wrapper .section-header .view-all-btn, .title-left .section-body .section-header-wrapper .section-header .view-all-btn, .title-right .section-body .section-header-wrapper .section-header .view-all-btn {
          background-color: #000;
          color: white; } }
    .default-section .section-body .section-content-wrapper > div, .title-left .section-body .section-content-wrapper > div, .title-right .section-body .section-content-wrapper > div {
      padding-left: 10px !important;
      padding-right: 10px !important; }

.item-card {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  background-color: white;
  height: 130px;
  padding: 30px 0px;
  font-size: 22px;
  border-bottom: 1px solid #d4d4d4;
  margin: 0px 15px;
  font-weight: 300; }
  .item-card .item-name-wrapper {
    display: inline-block;
    width: 85%; }
  .item-card .item-label-wrapper {
    float: right;
    display: inline-block; }
  .item-card:hover {
    cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .item-card {
      height: auto;
      padding: 30px 0px; } }
  @media only screen and (min-width: 992px) {
    .item-card.dark-item-card {
      border-radius: 3px;
      font-weight: 400;
      height: 80px;
      padding: 24px;
      border: none;
      margin: 10px 0px;
      font-size: 14px; }
      .item-card.dark-item-card:hover {
        background-color: #000; }
        .item-card.dark-item-card:hover .item-name {
          color: white; }
        .item-card.dark-item-card:hover .item-label-wrapper .item-xls {
          background-color: white;
          color: #18a344; }
        .item-card.dark-item-card:hover .item-label-wrapper .item-pdf {
          background-color: white;
          color: #df3d3d; }
        .item-card.dark-item-card:hover .item-label-wrapper .item-doc {
          background-color: white;
          color: #0064b1; } }

.resource-more-btn,
.resource-less-btn {
  height: 32px;
  width: 87px;
  text-transform: uppercase;
  color: white;
  background-color: #000;
  font-weight: 500;
  margin: auto;
  margin-bottom: 10px; }
  .resource-more-btn i,
  .resource-less-btn i {
    margin-left: 5px; }
  .resource-more-btn:hover,
  .resource-less-btn:hover {
    background-color: black; }

.resource-less-btn {
  display: none; }

.view-all-btn {
  width: 102px;
  height: 32px;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #0064b1;
  background-color: white; }
  .view-all-btn:hover {
    color: #000; }
  .view-all-btn i {
    margin-left: 3px;
    vertical-align: middle; }

.footer {
  height: 50px;
  background-color: #000; }

.search-popup {
  position: fixed;
  display: none;
  top: 50px;
  z-index: 300;
  width: 100%;
  background: #000;
  padding: 25px;
  left: 0px;
  text-align: center;
  border-top: 1px solid #d4d4d4; }
  .search-popup .search-wrapper {
    position: relative;
    width: 250px;
    margin: auto; }
    .search-popup .search-wrapper .search-input {
      width: 250px;
      height: 50px;
      padding-left: 37px;
      border: 1px solid #d4d4d4;
      background-color: #000;
      border-radius: 3px 3px 0px 0px;
      outline: none;
      color: white; }
    .search-popup .search-wrapper label {
      position: absolute;
      top: 15px;
      left: 12px; }
      .search-popup .search-wrapper label i {
        color: #d4d4d4;
        font-size: 20px; }
  .search-popup .category-btn {
    width: 250px;
    margin: auto;
    position: relative; }
    .search-popup .category-btn .dropdown-toggle {
      width: 250px;
      height: 50px;
      background-color: #000;
      color: white;
      border: 1px solid #d4d4d4;
      border-radius: 0px 0px 3px 3px;
      outline: none;
      text-align: left;
      padding-left: 10px; }
      .search-popup .category-btn .dropdown-toggle i {
        float: right;
        margin-top: 3px;
        margin-right: 7px; }
    .search-popup .category-btn .category-list {
      position: absolute;
      top: 50px;
      left: 0px;
      width: 250px;
      margin: -1px 0px 0px 0px;
      border-radius: 0px 0px 3px 3px;
      padding: 10px 15px;
      border: 1px solid #d4d4d4;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }
      .search-popup .category-btn .category-list li {
        margin: 5px auto; }
  .search-popup .search-btn {
    width: 250px;
    height: 50px;
    background-color: white;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #d4d4d4;
    margin-top: 20px;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    letter-spacing: 1; }
    .search-popup .search-btn:hover {
      background-color: rgba(255, 255, 255, 0.9); }

/*# sourceMappingURL=homePage.css.map */
