.container-fluid {
  margin: auto;
  max-width: 1440px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #efefef; }
  @media only screen and (max-width: 1440px) {
    .container-fluid {
      background-color: transparent; } }

.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.section-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-size: 24px;
  font-weight: 500; }

.logo {
  padding-top: 16px; }
  .logo input {
    height: 16px;
    outline: none; }

.sm-buttons, .resource-more-btn {
  padding: 5px 10px;
  text-align: center;
  width: 100px; }
  .sm-buttons:hover, .resource-more-btn:hover {
    cursor: pointer; }

.item-label, .item-doc, .item-xls, .item-ppt, .item-pdf, .item-link {
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: white;
  padding: 2px 5px;
  width: 38px;
  text-align: center; }

.item-doc {
  background-color: #0064b1; }

.item-xls {
  background-color: #18a344; }

.item-ppt {
  background-color: #F26522; }

.item-pdf {
  background-color: #df3d3d; }

.item-link {
  padding: 0px; }
  .item-link img {
    float: right;
    margin-bottom: 2px; }

.item-name {
  color: #0064b1;
  text-transform: capitalize;
  text-decoration: none; }
  .item-name:hover {
    text-decoration: none;
    color: #000; }

.top-header {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: fixed;
  top: 0px;
  z-index: 100;
  max-width: 1440px; }
  @media only screen and (max-width: 768px) {
    .top-header {
      z-index: 500;
      text-align: center; } }
  .top-header .logo {
    display: inline-block;
    padding-left: 75px; }
    @media only screen and (max-width: 768px) {
      .top-header .logo {
        padding-left: 0px; } }

.mobile-search-dropdown .search-toggle {
  position: fixed;
  right: 0px;
  top: 0px;
  color: white;
  padding: 16px 20px;
  visibility: hidden;
  z-index: 200; }
  @media only screen and (max-width: 768px) {
    .mobile-search-dropdown .search-toggle {
      z-index: 500;
      visibility: visible; } }
  .mobile-search-dropdown .search-toggle:hover {
    cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .mobile-search-dropdown .search-toggle.isVisible {
      visibility: visible; } }
  .mobile-search-dropdown .search-toggle i {
    font-size: 18px; }
  .mobile-search-dropdown .search-toggle .close-search {
    display: none; }
.mobile-search-dropdown .search-popup {
  position: fixed;
  display: none;
  top: 50px;
  z-index: 500;
  width: 100%;
  background: #000;
  padding: 25px;
  left: 0px;
  text-align: center;
  border-top: 1px solid #858585; }
  @media only screen and (max-width: 768px) {
    .mobile-search-dropdown .search-popup {
      display: none; } }
  .mobile-search-dropdown .search-popup .search-wrapper {
    font-size: 16px;
    position: relative;
    width: 100%;
    margin: auto; }
    .mobile-search-dropdown .search-popup .search-wrapper .search-input {
      width: 100%;
      height: 50px;
      padding-left: 46px;
      border: 1px solid #858585;
      background-color: #000;
      border-radius: 3px 3px 0px 0px;
      outline: none;
      color: white;
      padding-bottom: 4px; }
    .mobile-search-dropdown .search-popup .search-wrapper label {
      position: absolute;
      top: 15px;
      left: 16px; }
      .mobile-search-dropdown .search-popup .search-wrapper label i {
        color: #d4d4d4;
        font-size: 20px; }
  .mobile-search-dropdown .search-popup .category-btn {
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: -1px; }
    .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect {
      width: 100%;
      height: 50px;
      border-radius: 0px 0px 3px 3px;
      text-align: left;
      border-color: #858585;
      background-color: #000;
      color: white;
      padding-bottom: 8px; }
      .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect:hover {
        background-color: #000; }
      .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect:focus {
        background-color: #000;
        outline: none;
        border-color: #d4d4d4; }
      .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect:active {
        border-color: #d4d4d4;
        box-shadow: none;
        outline: none;
        background-color: #000; }
      .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect span {
        font-size: 16px;
        padding-bottom: 4px;
        padding-left: 4px; }
      .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect i {
        float: right;
        margin-top: 4px;
        margin-right: 4px; }
    .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect-container {
      border-radius: 0px 0px 3px 3px;
      margin-top: -1px;
      width: 100%;
      border-color: #d4d4d4;
      padding: 0px; }
      .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect-container .active a {
        background-color: transparent;
        color: #000; }
      .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect-container li a {
        outline: none;
        padding: 12px; }
      .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect-container li label {
        padding-left: 0px; }
      .mobile-search-dropdown .search-popup .category-btn .dropdown-trigger .multiselect-container input {
        visibility: hidden; }
  .mobile-search-dropdown .search-popup .search-btn {
    width: 100%;
    height: 50px;
    background-color: white;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #d4d4d4;
    margin-top: 20px;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    letter-spacing: 1;
    padding-bottom: 2px; }
    .mobile-search-dropdown .search-popup .search-btn:hover {
      background-color: rgba(255, 255, 255, 0.9); }
.mobile-search-dropdown .mobile-search-dimmer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 400; }

.footer {
  height: 50px;
  background-color: #000; }

.ui-autocomplete {
  list-style: none;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  padding-left: 0px;
  width: 200px;
  z-index: 800;
  margin-top: 1px;
  max-height: 302px;
  overflow-y: scroll;
  border-radius: 0px 0px 3px 3px; }
  .ui-autocomplete li {
    padding: 15px;
    padding-left: 37px; }
    .ui-autocomplete li:hover {
      cursor: pointer;
      background-color: rgba(212, 212, 212, 0.2); }

* {
  font-family: "Roboto", sans-serif; }

.main-search {
  background-color: #000;
  position: relative;
  width: 100%;
  height: 240px; }
  @media only screen and (max-width: 768px) {
    .main-search {
      display: none; } }
  .main-search .content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0px;
    z-index: 100;
    padding: 68px 90px 68px 90px; }
    @media only screen and (max-width: 1024px) {
      .main-search .content-wrapper {
        padding: 68px 50px 70px 50px; } }
    @media only screen and (max-width: 768px) {
      .main-search .content-wrapper {
        padding: 68px 30px 70px 30px; } }
    .main-search .content-wrapper .make-it-center {
      margin: auto; }
      .main-search .content-wrapper .make-it-center .page-title {
        font-weight: 300;
        font-size: 35px;
        color: white;
        z-index: 1;
        margin: auto;
        margin-bottom: 30px;
        vertical-align: middle; }
      .main-search .content-wrapper .make-it-center .search-bar {
        font-size: 16px;
        height: 50px;
        position: relative;
        margin: auto;
        width: 77%; }
        @media only screen and (max-width: 1024px) {
          .main-search .content-wrapper .make-it-center .search-bar {
            width: 73%; } }
        @media only screen and (max-width: 768px) {
          .main-search .content-wrapper .make-it-center .search-bar {
            width: 250px;
            text-align: center; } }
        .main-search .content-wrapper .make-it-center .search-bar.stick {
          margin-top: 0px;
          position: fixed;
          top: 0px;
          right: 0px;
          max-width: 1000px; }
          @media only screen and (min-width: 1280px) {
            .main-search .content-wrapper .make-it-center .search-bar.stick {
              margin-left: 250px; } }
          @media only screen and (min-width: 1440px) {
            .main-search .content-wrapper .make-it-center .search-bar.stick {
              right: auto; } }
          .main-search .content-wrapper .make-it-center .search-bar.stick .search-input {
            border-radius: 0px !important;
            background-color: black;
            border-top: none !important;
            border-bottom: none !important;
            border-right: 1px solid #858585 !important;
            border-left: 1px solid #858585 !important;
            color: white; }
          .main-search .content-wrapper .make-it-center .search-bar.stick .dropdown-toggle {
            border-radius: 0px !important;
            background-color: black !important;
            border: 1px solid transparent !important;
            border-right: 1px solid #858585 !important;
            color: white !important; }
            .main-search .content-wrapper .make-it-center .search-bar.stick .dropdown-toggle:hover {
              background-color: rgba(0, 0, 0, 0.8) !important; }
          .main-search .content-wrapper .make-it-center .search-bar.stick .search-btn {
            background-color: white;
            color: #0064b1;
            width: 90px;
            height: 36px; }
            .main-search .content-wrapper .make-it-center .search-bar.stick .search-btn:hover {
              background-color: rgba(255, 255, 255, 0.9); }
        .main-search .content-wrapper .make-it-center .search-bar .search-wrapper {
          height: 100%;
          width: 43%;
          display: inline-block;
          position: relative; }
          @media only screen and (max-width: 768px) {
            .main-search .content-wrapper .make-it-center .search-bar .search-wrapper {
              width: 250px;
              margin: auto; } }
          .main-search .content-wrapper .make-it-center .search-bar .search-wrapper label {
            position: absolute;
            top: 15px;
            left: 12px; }
            .main-search .content-wrapper .make-it-center .search-bar .search-wrapper label i {
              color: #999;
              font-size: 20px; }
          .main-search .content-wrapper .make-it-center .search-bar .search-wrapper .search-input {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            border-radius: 3px 0px 0px 3px;
            border: 1px solid #d4d4d4;
            min-width: 250px;
            outline: none;
            padding-left: 37px;
            padding-bottom: 2px; }
            @media only screen and (max-width: 768px) {
              .main-search .content-wrapper .make-it-center .search-bar .search-wrapper .search-input {
                width: 250px;
                margin: auto; } }
        .main-search .content-wrapper .make-it-center .search-bar .category-btn {
          width: 28%;
          height: 100%;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          min-width: 160px;
          margin-left: -4px; }
          @media only screen and (max-width: 768px) {
            .main-search .content-wrapper .make-it-center .search-bar .category-btn {
              width: 250px;
              margin: auto; } }
          .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger {
            width: 100%;
            position: relative; }
            .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect {
              width: 100%;
              height: 50px;
              border-radius: 0px 3px 3px 0px;
              text-align: left;
              border-color: #d4d4d4; }
              .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect:focus {
                background-color: white;
                outline: none;
                border-color: #d4d4d4; }
              .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect:active {
                border-color: #d4d4d4;
                box-shadow: none;
                outline: none;
                background-color: white; }
              .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect span {
                font-size: 16px;
                padding-bottom: 4px; }
              .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect i {
                float: right;
                margin-top: 3px; }
            .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect-container {
              width: 100%;
              border-color: #d4d4d4;
              padding: 0px;
              border-radius: 0px 0px 3px 3px;
              margin-top: -1px; }
              .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect-container .active a {
                background-color: transparent;
                color: #000; }
              .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect-container li a {
                outline: none;
                padding: 12px; }
              .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect-container li label {
                padding-left: 0px; }
              .main-search .content-wrapper .make-it-center .search-bar .category-btn .dropdown-trigger .multiselect-container input {
                visibility: hidden; }
        .main-search .content-wrapper .make-it-center .search-bar .search-btn {
          width: 18%;
          min-width: 100px;
          height: 100%;
          border: none;
          background-color: #000;
          color: white;
          border-radius: 3px;
          text-align: center;
          outline: none;
          text-transform: uppercase;
          margin-left: 10px;
          vertical-align: middle;
          margin-left: 4px; }
          @media only screen and (max-width: 768px) {
            .main-search .content-wrapper .make-it-center .search-bar .search-btn {
              width: 250px;
              margin: auto;
              margin-top: 20px; } }
          .main-search .content-wrapper .make-it-center .search-bar .search-btn:hover {
            background-color: black; }
  .main-search .img-fill {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
    z-index: 0; }
    .main-search .img-fill img {
      width: 100%; }
      @media only screen and (max-width: 768px) {
        .main-search .img-fill img {
          height: 100%;
          width: auto; } }

.item-card {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  background-color: white;
  padding: 41px 26px 48px 26px;
  font-size: 22px;
  border-radius: 0px;
  border-bottom: 1px solid #d4d4d4;
  font-weight: 300; }
  .item-card .item-name-wrapper {
    display: inline-block;
    width: 85%; }
  .item-card .item-label-wrapper {
    float: right;
    display: inline-block; }
  .item-card:hover {
    cursor: pointer;
    background-color: rgba(212, 212, 212, 0.2); }
  @media only screen and (max-width: 768px) {
    .item-card {
      height: auto;
      padding-top: 30px;
      padding-bottom: 34px;
      padding-left: 0px;
      padding-right: 0px; }
      .item-card:hover {
        background-color: transparent; } }

.result-list {
  background-color: white;
  padding: 60px 80px; }
  @media only screen and (min-width: 1440px) {
    .result-list {
      padding: 60px 180px; } }
  @media only screen and (max-width: 991px) {
    .result-list {
      padding: 30px 40px 50px 40px; } }
  @media only screen and (max-width: 768px) {
    .result-list {
      padding: 80px 15px 50px 15px; } }
  .result-list .section-list-wrapper {
    width: 300px; }
    @media only screen and (max-width: 1280px) {
      .result-list .section-list-wrapper {
        width: 230px; } }
    @media only screen and (max-width: 768px) {
      .result-list .section-list-wrapper {
        width: auto; } }
    .result-list .section-list-wrapper.fixedPosition {
      position: fixed;
      top: 80px; }
      @media only screen and (max-width: 991px) {
        .result-list .section-list-wrapper.fixedPosition {
          top: 80px; } }
    .result-list .section-list-wrapper.fixedBottom {
      position: fixed;
      bottom: 90px;
      top: auto; }
    @media only screen and (max-width: 768px) {
      .result-list .section-list-wrapper .section-list {
        display: none; } }
    .result-list .section-list-wrapper .section-list .section-list-item {
      font-size: 16px;
      position: relative;
      text-transform: capitalize;
      padding: 15px;
      width: 90%;
      background: none;
      border: none;
      text-align: left;
      outline: none; }
      @media only screen and (max-width: 768px) {
        .result-list .section-list-wrapper .section-list .section-list-item {
          padding: 12px; } }
      .result-list .section-list-wrapper .section-list .section-list-item:hover {
        cursor: pointer; }
      .result-list .section-list-wrapper .section-list .section-list-item.active {
        background-color: #000;
        color: white;
        outline: none; }
        .result-list .section-list-wrapper .section-list .section-list-item.active:after {
          border-left: 20px solid #000;
          border-bottom: 26px solid transparent;
          border-top: 26px solid transparent;
          content: "";
          height: 0;
          left: 100%;
          position: absolute;
          top: 0px; }
    .result-list .section-list-wrapper .section-list-dropdown {
      display: none;
      margin-bottom: 20px;
      width: 100%; }
      @media only screen and (max-width: 768px) {
        .result-list .section-list-wrapper .section-list-dropdown {
          display: block; } }
      .result-list .section-list-wrapper .section-list-dropdown .dropdown-toggle {
        width: 100%;
        height: 50px;
        background: none;
        border: 1px solid #d4d4d4;
        text-align: left; }
        .result-list .section-list-wrapper .section-list-dropdown .dropdown-toggle i {
          float: right;
          margin-top: 3px; }
      .result-list .section-list-wrapper .section-list-dropdown .dropdown-menu {
        margin-top: -1px;
        padding: 0px;
        width: 100%; }
        .result-list .section-list-wrapper .section-list-dropdown .dropdown-menu .section-list-item {
          background: none;
          border: none;
          padding: 15px;
          width: 100%;
          text-align: left; }
          .result-list .section-list-wrapper .section-list-dropdown .dropdown-menu .section-list-item:hover {
            background-color: #f7f7f7; }
  .result-list .docs-wrapper {
    min-height: 90%; }
    .result-list .docs-wrapper .groupOf12.hiddenFiles {
      display: none; }
    .result-list .docs-wrapper .no-search-result {
      margin-top: 30px; }

.resource-more-btn {
  height: 32px;
  width: 123px;
  text-transform: uppercase;
  color: white;
  background-color: #000;
  font-weight: 500;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 60px;
  width: 130px; }
  .resource-more-btn i {
    display: inline-block;
    color: white;
    margin-left: 5px;
    margin-top: -1px; }
  .resource-more-btn:hover {
    background-color: black; }

/*# sourceMappingURL=searchResult.css.map */
