    @import 'colors';
    @import 'breakpoints';
    @import 'components';
    @import 'mixins';
    $primary-font: 'Roboto',
    sans-serif;
    

    
    * {
        font-family: $primary-font;
    }
    
    .main-search {
        background-color: $primary-color;
        position: relative;
        width: 100%;
        height: 240px;
        // margin-top: 50px;
        @media only screen and (max-width: $breakpoint-ipad-portrait) {
            display: none;
        }
        .content-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50px;
            left: 0px;
            z-index: 100;
            // padding: 68px 90px 68px 90px;
            padding-top: 68px;
            @media only screen and (max-width: $breakpoint-ipad-landscape) {
                // padding: 68px 50px 70px 50px;
            }
            @media only screen and (max-width: $breakpoint-ipad-portrait) {
                // padding: 68px 30px 70px 30px;
            }
            .make-it-center {
                margin: auto;
                .page-title {
                    font-weight: 300;
                    font-size: 35px;
                    color: white;
                    z-index: 1;
                    margin: auto;
                    margin-bottom: 30px;
                    vertical-align: middle;
                }
                .search-bar {
                    // @include transition(all 0.43s ease);
                    font-size: 16px;
                    height: 50px;
                    position: relative;
                    margin: auto;
                    width: 1000px;
                    @media only screen and (max-width: $breakpoint-sm-desktop) {
                        width: 870px;
                    }
                    @media only screen and (max-width: $breakpoint-ipad-landscape) {
                        width: 700px;
                    }
                    @media only screen and (max-width: $breakpoint-ipad-portrait) {
                        display: none;
                    }
                    &.stick {
                        @include transition(all 0.5s ease);
                        margin-top: 0px;
                        position: fixed;
                        top: 0px;
                        right: 0px;
                        max-width: 1000px;
                        @media only screen and (min-width: $breakpoint-sm-desktop) {
                            margin-left: 350px;
                        }
                        @media only screen and (min-width: $breakpoint-lg-desktop) {
                            right: auto;
                        }
                        @media only screen and (max-width: 900px) {
                            max-width: 650px;
                        }
                        @media only screen and (max-width: 830px) {
                            max-width: 570px;
                        }
                        .search-input {
                            border-radius: 0px !important;
                            background-color: rgba($primary-color, 1);
                            border-top: none !important;
                            border-bottom: none !important;
                            // border-left: 1px solid white !important;
                            border-right: 1px solid #858585 !important;
                            border-left: 1px solid #858585 !important;
                            color: white;
                        }
                        .dropdown-toggle {
                            border-radius: 0px !important;
                            background-color: rgba($primary-color, 1) !important;
                            border: 1px solid transparent !important;
                            border-right: 1px solid #858585 !important;
                            // border-left: 1px solid white !important;
                            color: white !important;
                            // border-left: none !important;
                            &:hover {
                                background-color: rgba($primary-color, 0.8) !important;
                            }
                        }
                        .search-btn {
                            height: 36px;
                            border: 2px solid white;
                            // &:hover {
                            //     background-color: rgba(white, 0.9);
                            // }
                        }
                    }
                    .search-wrapper {
                        height: 100%;
                        width: 43%;
                        display: inline-block;
                        position: relative;
                        @media only screen and (max-width: $breakpoint-ipad-portrait) {
                            width: 250px;
                            margin: auto;
                        }
                        label {
                            position: absolute;
                            top: 15px;
                            left: 12px;
                            i {
                                color: #999;
                                font-size: 20px;
                            }
                        }
                        .search-input {
                            width: 100%;
                            height: 100%;
                            // width: 400px;
                            vertical-align: middle;
                            border-radius: 3px 0px 0px 3px;
                            border: 1px solid $light-gray;
                            min-width: 250px;
                            outline: none;
                            padding-left: 37px;
                            padding-bottom: 2px;
                            @media only screen and (max-width: $breakpoint-ipad-portrait) {
                                width: 250px;
                                margin: auto;
                            }
                        }
                    }
                    .category-btn {
                        width: 28%;
                        height: 100%;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        min-width: 160px;
                        margin-left: -4px;
                        @media only screen and (max-width: $breakpoint-ipad-portrait) {
                            width: 250px;
                            margin: auto;
                        }
                        .dropdown-trigger {
                            width: 100%;
                            position: relative;
                            .multiselect {
                                width: 100%;
                                height: 50px;
                                border-radius: 0px 3px 3px 0px;
                                text-align: left;
                                border-color: $light-gray;
                                &:focus {
                                    background-color: white;
                                    outline: none;
                                    border-color: $light-gray;
                                }
                                &:active {
                                    border-color: $light-gray;
                                    box-shadow: none;
                                    outline: none;
                                    background-color: white;
                                }
                                span {
                                    font-size: 16px;
                                    padding-bottom: 4px;
                                }
                                i {
                                    float: right;
                                    margin-top: 3px;
                                }
                            }
                            .multiselect-container {
                                max-height: 302px;
                                overflow-y: scroll;
                                width: 100%;
                                border-color: $light-gray;
                                padding: 0px;
                                border-radius: 0px 0px 3px 3px;
                                margin-top: -1px;
                                .active {
                                    a {
                                        background-color: rgba($primary-color, 0);
                                        color: $primary-color;
                                    }
                                }
                                li {
                                    a {
                                        outline: none;
                                        padding: 12px;
                                    }
                                    label {
                                        padding-left: 0px;
                                    }
                                }
                                input {
                                    visibility: hidden;
                                }
                            }
                        }
                    }
                    .search-btn {
                        width: 18%;
                        min-width: 100px;
                        height: 100%;
                        border: none;
                        background-color: $primary-color;
                        color: white;
                        border-radius: 3px;
                        text-align: center;
                        outline: none;
                        text-transform: uppercase;
                        margin-left: 10px;
                        vertical-align: middle;
                        margin-left: 4px;
                        @media only screen and (max-width: $breakpoint-ipad-portrait) {
                            width: 250px;
                            margin: auto;
                            margin-top: 20px;
                        }
                        &:hover {
                            background-color: darken($primary-color, 20%);
                        }
                    }
                }
            }
        }
        .img-fill {
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0.8;
            z-index: 0;
            img {
                width: 100%;
                @media only screen and (max-width: $breakpoint-ipad-portrait) {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
    
    .item-card {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        background-color: white;
        // height: 112px;
        padding: 41px 26px 48px 26px;
        font-size: 22px;
        border-radius: 0px;
        border-bottom: 1px solid $light-gray;
        font-weight: 300;
        .item-name-wrapper {
            display: inline-block;
            width: 85%;
        }
        .item-label-wrapper {
            float: right;
            display: inline-block;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba($light-gray, 0.2);
        }
        @media only screen and (max-width: $breakpoint-ipad-portrait) {
            height: auto;
            padding-top: 30px;
            padding-bottom: 34px;
            padding-left: 0px;
            padding-right: 0px;
            &:hover {
                background-color: transparent;
            }
        }
    }
    
    .result-list {
        background-color: white;
        padding: 60px 80px;
        @media only screen and (min-width: $breakpoint-lg-desktop) {
            padding: 60px 180px
        }
        @media only screen and (max-width: $bootstrap-md) {
            padding: 30px 40px 50px 40px;
        }
        @media only screen and (max-width: $breakpoint-ipad-portrait) {
            padding: 80px 15px 50px 15px;
        }
        .section-list-wrapper {
            width: 300px;
            @media only screen and (max-width: $breakpoint-sm-desktop) {
                width: 230px;
            }
            @media only screen and (max-width: $breakpoint-ipad-portrait) {
                width: auto;
            }
            &.fixedPosition {
                @media only screen and (min-width: $bootstrap-md) {
                    position: fixed;
                    top: 80px;
                }
            }
            &.fixedBottom {
                position: fixed;
                bottom: 90px;
                top: auto;
            }
            .section-list {
                @media only screen and (max-width: 767px) {
                    display: none;
                }
                .section-list-item {
                    font-size: 16px;
                    position: relative;
                    text-transform: capitalize;
                    padding: 15px;
                    width: 90%;
                    background: none;
                    border: none;
                    text-align: left;
                    outline: none;
                    // @media only screen and (max-width: $breakpoint-ipad-portrait) {
                    //     padding: 12px;
                    // }
                    &:hover {
                        cursor: pointer;
                    }
                    &.active {
                        background-color: $primary-color;
                        color: white;
                        outline: none;@include animation(all 0.3s);
                        &:after {
                            border-left: 20px solid $primary-color;
                            border-bottom: 26px solid transparent;
                            border-top: 26px solid transparent;
                            content: "";
                            height: 0;
                            left: 100%;
                            position: absolute;
                            top: 0px;
                            // @media only screen and (max-width: $breakpoint-ipad-portrait) {
                            //     border-bottom: 23.5px solid transparent;
                            //     border-top: 23.5px solid transparent;
                            // }
                        }
                    }
                }
            }
            .section-list-dropdown {
                display: none;
                margin-bottom: 20px;
                width: 100%;
                @media only screen and (max-width: 767px) {
                    display: block;
                }
                .dropdown-backdrop {
                    display: none !important;
                }
                .dropdown-toggle {
                    width: 100%;
                    height: 50px;
                    background: none;
                    border: 1px solid $light-gray;
                    text-align: left;
                    i {
                        float: right;
                        margin-top: 3px;
                    }
                }
                .dropdown-menu {
                    max-height: 302px;
                    overflow-y: scroll;
                    margin-top: -1px;
                    padding: 0px;
                    width: 100%;
                    z-index: 450;
                    -webkit-overflow-scrolling: touch;
                    overflow-scrolling: touch;
                    .section-list-item {
                        background: none;
                        border: none;
                        padding: 15px;
                        width: 100%;
                        text-align: left;
                        &:hover {
                            background-color: #f7f7f7;
                        }
                    }
                }
            }
        }
        .docs-wrapper {
            min-height: 90%;
            .groupOf12 {
                &.hiddenFiles {
                    display: none;
                }
            }
            .no-search-result {
                margin-top: 30px;
                font-size: 16px;
            }
        }
    }
    
    .resource-more-btn {
        @extend .sm-buttons;
        height: 32px;
        width: 123px;
        text-transform: uppercase;
        color: white;
        background-color: $primary-color;
        font-weight: 500;
        margin: auto;
        margin-bottom: 80px;
        margin-top: 60px;
        width: 130px;
        i {
            display: inline-block;
            color: white;
            margin-left: 5px;
            margin-top: -1px;
        }
        &:hover {
            background-color: darken($primary-color, 20%);
        }
    }
